/* .project-container {
    margin: 20px;
    height: 15rem;
} */

.works-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .works-container {
        display: flex;
        flex-direction: column;
    }
  }